body {
    background-color: darkblue;
    color:aliceblue;
    display:flex;
    height:100%;
    width:100%;
    justify-content: space-evenly;
    align-items:center;
    position:absolute;
}


.mainContainer{
    display:flex;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80%;
    width:80%;
}

.mainHeader {
    height:10%;
}

.msgBox{
    font-size: 4rem;
}


.mainBody{
    
    display:none;
    justify-content: space-evenly;
    height:100%;
    align-items: center;
    
}


.namePlate{
    display:flex;
    align-items: center;
}

.gridContainer{
    display:flex;
    justify-content: center;
    align-items:center;
    height:80%;
    width:100%;
    flex-direction: column;
    

}

.invisDiv {
    width:100px;
    height:200px;
}

.namePlate {
    display:flex;
    height:20%;
    margin:10px;
}

.gameGrid {
    display:grid;
    grid-template-columns: repeat(10,50px);
    grid-template-rows: repeat(10,50px);
    height:500px;
    width:500px;
    border:1px solid pink;

}

.box0{
    border: 1px solid black;
}
.box0:hover{
    background-color: blanchedalmond;
    cursor:grab;
}


.box1{
    border: 1px solid cyan;
    background:cyan;
}

.box2{
    border: 1px solid red;
    background:red;
}
