.placementMsgBox {
    font-size: 2rem;
    display:flex;
    align-items:center;
    justify-content: center;
    width:500px;
    height:50px;
}

.placementContainer{
     
    display:none;
    flex-direction: column;
    justify-content: space-evenly;
    height:100%;
    align-items: center;
}

#placeGrid {
    rotate: -90deg;
}

.placeDiv {
    border: 1px solid pink;
}

.placeDivHov{
    border: 1px solid pink;
    background-color: blanchedalmond;
}

.alreadyPlaced {
    background-color: red;
}

.orientationButton {
    display:flex;
    cursor:grab;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    width:200px;
    height:50px;
    color:red;
    font-weight: bold;
    background-color: aqua;
}

.orientationButton:hover {
background-color: rgb(250, 101, 255);
cursor:grab;
}
